*

!.bash_env
!.bashrc
!.bash_aliases
!.dnf
!.gitignore
!.gitconfig
!.programs
!.tmux.conf
!.vimrc
!.xinitrc
!.taskrc
!.zshrc
!.zsh_aliases
!.zsh_plugins
!.zsh_themes
!.tilix.dconf
!.setup.sh 
!.apt
!install.sh
!dconf_settings.ini

!.config/
!.config/kitty/
!.config/Code/User/settings.json
!.config/alacritty/
!.config/i3/
!.config/i3blocks/
!.config/polybar/
!.config/rofi/
!.config/nvim/
!.config/hypr/
!.config/waybar/
!.config/zellij/
!.fonts/
!.local/share/remmina/

.config/alacritty/local.toml
*/**/.uuid
*/
