/*
!.bashrc
!.bash_aliases
!.dnf
!.gitignore
!.gitconfig
!.programs
!.tmux.conf
!.vimrc
!.xinitrc
!.taskrc
!.zshrc
!.zsh_aliases
!.zsh_plugins
!.zsh_themes

!.config/alacritty/
!.config/i3/
!.config/i3blocks/
!.config/polybar/
!.config/rofi/
!.config/nvim/
!.config/hypr/
!.config/waybar/
!.fonts/

