* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 2px;
  margin-left: 1rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #ffffff;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #157c94;
  color: #ffffff;
  border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#bluetooth,
#custom-lock,
#custom-power {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#cpu {
  padding: 0.5rem 0rem;
  padding-right: 1rem;
  margin: 5px 0;
  background-color: #101010;
}

#custom-polycat {
  background-color: #101010;
  padding: 0rem 0rem;
  padding-left: 1rem;
  margin: 5px 0;
  font-family: polycat;
  color: #ffffff;
  font-size: 16px;
}

#window {
  color: #babbf1;
  padding-left: 1rem;
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  margin-right: 1rem;
  border-radius: 5px 0px 0px 5px;
  color: #babbf1;
}

#bluetooth {
  border-radius: 5px 0px 0px 5px;
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
